.container {
  min-height: 100%;
  display: flex;
  align-items: stretch;
  gap: 1.5rem;
}

.textSection {
  flex-basis: 35%;
  padding-left: 100px;
}

.textSection > h1 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 54px / var(--unnamed-line-spacing-80)
    var(--unnamed-font-family-millik);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 54px/80px Millik;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
}

.textSection > h1 > span {
  color: var(--primary-335f32);
  display: block;
}

.textSection > p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) /
    var(--unnamed-line-spacing-32) var(--unnamed-font-family-red-hat-display);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  font: normal normal normal 18px/32px "Red Hat Display";
  letter-spacing: 0px;
  color: #000000;
}

.textSection > p > span {
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal bold 18px/32px "Red Hat Display";
  letter-spacing: 0px;
}

.buttonSection {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-top: 1.5rem;
}

.buttonSection > button:nth-child(1) {
  flex: 1;
}

.buttonSection > button:nth-child(2) {
  flex: 2;
}

.container > .imageSection {
  flex: 65%;
  height: 100%;
}

.imageSection > img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .textSection {
    flex-basis: 100%;
    padding-left: 0px;
  }

  .textSection > h1 {
    font: normal normal normal 30px/40px Millik;
    margin-bottom: 1rem;
  }

  .textSection > p {
    font: normal normal normal 16px/20px "Red Hat Display";
  }

  .textSection > p > span {
    color: var(--unnamed-color-000000);
  }

  .buttonSection {
    gap: 16px;
    margin-top: 1.5rem;
  }

  .buttonSection > button:nth-child(1) {
    flex-basis: 50%;
  }

  .buttonSection > button:nth-child(2) {
    flex-basis: 50%;
  }

  .container > .imageSection {
    flex: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .textSection {
    flex-basis: 100%;
    padding-left: 0px;
  }

  .textSection > h1 {
    font: normal normal normal 30px/40px Millik;
    margin-bottom: 1rem;
  }

  .textSection > p {
    font: normal normal normal 16px/20px "Red Hat Display";
  }

  .textSection > p > span {
    color: var(--unnamed-color-000000);
  }

  .buttonSection {
    gap: 16px;
    margin-top: 1.5rem;
  }

  .buttonSection > button:nth-child(1) {
    flex-basis: 50%;
  }

  .buttonSection > button:nth-child(2) {
    flex-basis: 50%;
  }

  .container > .imageSection {
    flex: 100%;
  }
}
